src/ArsApi/Domain/obj
src/ArsApi/Application/obj
src/ArsApi/Infrastructure/obj
src/ArsApi/Presentation/obj
src/ArrivalsApi/Application/obj
src/ArrivalsApi/Domain/obj
src/ArrivalsApi/Infrastructure/obj
src/ArrivalsApi/Presentation/obj   
src/ArrivalsApi/Application/obj
src/ArrivalsApi/WebApi/obj 
src/ArsApi/WebApi/obj
src/CassApi/Application/obj
src/CassApi/Domain/obj
src/CassApi/Infrastructure/obj
src/CassApi/Presentation/obj
src/CassApi/WebApi/obj
src/StoplistApi/Infrastructure/obj
src/StoplistApi/Application/obj
src/StoplistApi/Domain/obj
src/StoplistApi/Presentation/obj
src/StoplistApi/WebApi/obj
src/Shared/Domain/obj
src/Shared/Application/obj
src/Shared/Infrastructure/obj
src/Shared/Presentation/obj
src/Shared/WebApi/obj

# .NET build outputs
**/bin/
**/obj/
