<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Cbs.Audit is published here. -->
    <add key="cbs-github" value="https://nuget.pkg.github.com/cosmos-business-systems/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="cbs-github">
      <package pattern="Cbs.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
